/* Estilos para el footer personalizado */
.custom-footer {
    background-color: #004aad; /* Azul */
}

.custom-footer h2 {
    font-family: 'Zing Rust Base', sans-serif;
}

/* Estilos para los enlaces de redes sociales */
.redes-sociales a {
    margin: 0 5px;
    display: inline-block;
}

.redes-sociales .social-logo {
    width: 50px; /* Tamaño uniforme para todos los iconos */
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

/* Efecto hover para los iconos de redes sociales */
.redes-sociales .social-logo:hover {
    transform: scale(1.1);
}

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25D366; /* Verde característico de WhatsApp */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.whatsapp-float:hover {
    background-color: #128C7E; /* Verde más oscuro al hacer hover */
    transform: scale(1.1);
}

.whatsapp-icon {
    width: 40px; /* Tamaño uniforme del icono */
    height: 40px;
    object-fit: contain;
}

