<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.png" type="image/png">
    <title>#CorazonAzul - Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home_route.home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="CorazonAzul" class="img-fluid" id="site-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#quienes-somos-section">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#que-hacemos-section">Qué hacemos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nuestro-equipo-section">Nuestro Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#como-colaborar-section">Cómo Colaborar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="w-100">
        {% block content %}{% endblock %}
    </main>
    <footer class="custom-footer text-white text-center py-4 mt-5">
        <section id="contacto">
            <h2>Seguinos en nuestras redes</h2>
            <div class="redes-sociales mt-3">
                <a href="https://facebook.com/corazonazulok/" target="_blank" aria-label="Facebook">
                    <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" class="social-logo">
                </a>
                <a href="https://instagram.com/corazonazulorg/" target="_blank" aria-label="Instagram">
                    <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" class="social-logo">
                </a>
                <a href="https://tiktok.com/@corazon.azul.org" target="_blank" aria-label="Tiktok">
                    <img src="{{ url_for('static', filename='images/tiktok.png') }}" alt="Tiktok" class="social-logo">
                </a>
                <a href="https://linkedin.com/company/coraz%C3%B3n-azul-ong/" target="_blank" aria-label="Linkedin">
                    <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="Linkedin" class="social-logo">
                </a>
                <a href="https://youtube.com/@corazonazul5712" target="_blank" aria-label="Youtube">
                    <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="Youtube" class="social-logo">
                </a>
                <!--<a href="https://x.com" target="_blank" aria-label="X">
                    <img src="{{ url_for('static', filename='images/x.png') }}" alt="X" class="social-logo">
                </a>--> 
                <!-- Añade más redes sociales si es necesario -->
            </div>
        </section>
        <p class="mt-3">&copy; 2024 #CorazonAzul. Todos los derechos reservados.</p>
    </footer>    
    
    <a href="https://api.whatsapp.com/send/?phone=5491154030034" class="whatsapp-float" target="_blank" aria-label="WhatsApp">
        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp" class="whatsapp-icon">
    </a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/team-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header-highlight.js') }}"></script>
       
</body>
</html>



