@import url('header.css');
@import url('carousel.css');
@import url('spacing.css');
@import url('quienes-somos.css');
@import url('mission-vision.css');
@import url('que-hacemos.css');
@import url('equipo.css');
@import url('colaborar.css');
@import url('footer.css');
@font-face {
    font-family: 'Zing Rust Base';
    src: url('../fonts/zing-rust-base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}







